body{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    
}
.idFrame{
    margin: 2px;
    border: 0px solid #000;
    position: relative;
    width : 300px;
    height: 400px;
    box-shadow: 1px 4px 6px #7c7b7b;
    border-radius: 20px;
    padding: 10px;
    background: #db4256;
    background: linear-gradient(90deg, rgba(219, 66, 86, 1) 0%, rgba(209, 27, 58, 1) 0%, rgba(219, 92, 113, 1) 0%, rgba(232, 19, 54, 1) 72%, rgba(240, 19, 56, 1) 98%);
    user-select: none;
    transition: transform 1s ease;

}

img{
    margin: 10px;
    position: relative;
    width: 150px;
    border-radius: 50%;
    transition: transform 0.4s ease-in-out 0.3s;
    border: 3px solid #b4b3b3;
}

img:hover{
    transform: scale(1.1)
}

.name{
    color: beige;
    margin-bottom: 0;
}
.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 140px;
  background: #f8f3f4;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
}
ul{
    list-style-type: none;
    display: flex;
    gap:3rem;
    margin: 0px;
}
li{
    text-align: center;
}
h4{
    margin-bottom: 0px;
}

h6{
    font-family: 'Inter';
    font-size: 12px;
    color: rgb(242, 175, 191);
    margin-top: 0;
}

.label{
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.interactBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

button{
    margin-top: 10px;
    width: 80px;
    height: 40px;
    border: 0px;
    border-radius: 4px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.flw{
    background-color: #f84242;
}

.flw:hover{
    background-color: #e12222;
}
.msg{
    background-color: #dedbdb;
}
.msg:hover{
    background-color: #989494;

}

