*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
.modalArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Exo 2", sans-serif;
}

.popUpBtn a{
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 3px black;
   
    border: 1px solid;
    transition: transform .3s ease;
}
a{
 text-decoration: none;
    color: inherit;
}

.popUpBtn a:hover{
    transform: scale(1.1);
    background: #454545;
    color: aliceblue;
}

.popUpBtn a:active{
    box-shadow: -2px -3px rgb(152, 152, 152);
}



.popUp{
    border: 2px solid black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 3px black;
    width: 50%;
    line-height: 32px;
    position: relative;
    transition: opacity .5s ease;
    background-color: rgb(234, 244, 252);
}



.modal:target{
    opacity: 1;
    pointer-events: auto;
}

.popUp header{
    position: absolute;
    right:10px;
    top:10px;
}

.popUp header > a{
        cursor: pointer;
        display:inline-block;
        color: rgb(21, 24, 27);
        transition: transform .2s ease-in-out;

}

.popUp header > a:hover{
    transform: scale(1.2);

}

.modal{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;

    display:flex;
    justify-content:center;
    align-items:center;

    background: rgba(0,0,0,0.6); /* DIM  */

    opacity:0;
    pointer-events:none;
    transition: opacity .4s ease;

}

h1{
    position: relative;
    top:100px;
    display: flex;
    justify-content: center;
    font-family: 'Exo 2' ;
    font-size: 50px;
    text-shadow: 3px 2px #f77732;
}
